In [1]:
import pandas as pd
import numpy as np
import keras

In [2]:
filepath='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv'
concrete_data = pd.read_csv(filepath)

concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.isna().any()

Cement                False
Blast Furnace Slag    False
Fly Ash               False
Water                 False
Superplasticizer      False
Coarse Aggregate      False
Fine Aggregate        False
Age                   False
Strength              False
dtype: bool

In [5]:
predictors = concrete_data[concrete_data.columns[concrete_data.columns!='Strength']]
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [6]:
target = concrete_data['Strength']
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
n_cols = predictors_norm.shape[1]
n_cols

8

### Fit a regression model with Keras

In [9]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Input

In [10]:
# build a neural network
def regression_model():
    model = Sequential()
    model.add(Input(shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))

    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
# build the model
model = regression_model()

In [ ]:
# fit the model
model.fit(predictors_norm, target, validation_split=.3, epochs=100, verbose=2)

# verbose decides how much training information is printed to the console.

Epoch 1/100
23/23 - 1s - 32ms/step - loss: 1656.4142 - val_loss: 1158.6012
Epoch 2/100
23/23 - 0s - 3ms/step - loss: 1543.5250 - val_loss: 1039.5879
Epoch 3/100
23/23 - 0s - 4ms/step - loss: 1350.8695 - val_loss: 849.6664
Epoch 4/100
23/23 - 0s - 4ms/step - loss: 1056.2446 - val_loss: 602.2906
Epoch 5/100
23/23 - 0s - 4ms/step - loss: 703.3899 - val_loss: 359.4187
Epoch 6/100
23/23 - 0s - 3ms/step - loss: 411.3916 - val_loss: 215.1503
Epoch 7/100
23/23 - 0s - 3ms/step - loss: 278.3876 - val_loss: 172.2162
Epoch 8/100
23/23 - 0s - 3ms/step - loss: 240.7578 - val_loss: 171.2224
Epoch 9/100
23/23 - 0s - 3ms/step - loss: 225.9894 - val_loss: 169.4891
Epoch 10/100
23/23 - 0s - 3ms/step - loss: 213.4540 - val_loss: 170.9606
Epoch 11/100
23/23 - 0s - 3ms/step - loss: 203.9722 - val_loss: 167.8456
Epoch 12/100
23/23 - 0s - 3ms/step - loss: 196.5007 - val_loss: 165.2222
Epoch 13/100
23/23 - 0s - 3ms/step - loss: 190.1437 - val_loss: 162.4044
Epoch 14/100
23/23 - 0s - 3ms/step - loss: 184.7006 - val_loss: 162.2076
Epoch 15/100
23/23 - 0s - 3ms/step - loss: 179.6169 - val_loss: 159.9926
Epoch 16/100
23/23 - 0s - 3ms/step - loss: 175.0800 - val_loss: 159.2114
Epoch 17/100
23/23 - 0s - 3ms/step - loss: 170.6052 - val_loss: 157.1736
Epoch 18/100
23/23 - 0s - 3ms/step - loss: 167.2050 - val_loss: 154.4934
Epoch 19/100
23/23 - 0s - 3ms/step - loss: 163.0811 - val_loss: 153.3788
Epoch 20/100
23/23 - 0s - 4ms/step - loss: 159.8526 - val_loss: 154.5253
Epoch 21/100
23/23 - 0s - 3ms/step - loss: 157.3264 - val_loss: 153.6462
Epoch 22/100
23/23 - 0s - 3ms/step - loss: 154.5740 - val_loss: 152.5314
Epoch 23/100
23/23 - 0s - 3ms/step - loss: 152.0021 - val_loss: 151.5430
Epoch 24/100
23/23 - 0s - 3ms/step - loss: 149.6484 - val_loss: 152.8316
Epoch 25/100
23/23 - 0s - 3ms/step - loss: 147.8653 - val_loss: 151.0836
Epoch 26/100
23/23 - 0s - 3ms/step - loss: 145.5546 - val_loss: 152.2868
Epoch 27/100
23/23 - 0s - 3ms/step - loss: 144.1968 - val_loss: 152.4936
Epoch 28/100
23/23 - 0s - 3ms/step - loss: 142.5580 - val_loss: 152.3333
Epoch 29/100
23/23 - 0s - 3ms/step - loss: 140.9582 - val_loss: 150.5432
Epoch 30/100
23/23 - 0s - 3ms/step - loss: 139.2477 - val_loss: 151.3421
Epoch 31/100
23/23 - 0s - 3ms/step - loss: 137.8490 - val_loss: 151.7844
Epoch 32/100
23/23 - 0s - 4ms/step - loss: 136.0016 - val_loss: 149.8936
Epoch 33/100
23/23 - 0s - 3ms/step - loss: 134.7304 - val_loss: 152.3076
Epoch 34/100
23/23 - 0s - 3ms/step - loss: 133.3848 - val_loss: 151.8318
Epoch 35/100
23/23 - 0s - 3ms/step - loss: 132.2442 - val_loss: 150.2504
Epoch 36/100
23/23 - 0s - 3ms/step - loss: 130.9974 - val_loss: 152.7196
Epoch 37/100
23/23 - 0s - 3ms/step - loss: 130.0854 - val_loss: 150.5178
Epoch 38/100
23/23 - 0s - 3ms/step - loss: 128.0489 - val_loss: 151.4339
Epoch 39/100
23/23 - 0s - 3ms/step - loss: 127.1484 - val_loss: 151.7516
Epoch 40/100
23/23 - 0s - 3ms/step - loss: 125.7154 - val_loss: 149.3134
Epoch 41/100
23/23 - 0s - 3ms/step - loss: 124.3193 - val_loss: 151.9578
Epoch 42/100
23/23 - 0s - 3ms/step - loss: 123.3590 - val_loss: 148.8544
Epoch 43/100
23/23 - 0s - 3ms/step - loss: 121.3032 - val_loss: 148.5894
Epoch 44/100
23/23 - 0s - 3ms/step - loss: 119.5586 - val_loss: 145.4948
Epoch 45/100
23/23 - 0s - 3ms/step - loss: 118.6143 - val_loss: 148.3202
Epoch 46/100
23/23 - 0s - 3ms/step - loss: 116.3785 - val_loss: 146.4656
Epoch 47/100
23/23 - 0s - 3ms/step - loss: 115.2593 - val_loss: 144.9025
Epoch 48/100
23/23 - 0s - 3ms/step - loss: 113.5329 - val_loss: 147.1722
Epoch 49/100
23/23 - 0s - 3ms/step - loss: 112.1915 - val_loss: 146.2524
Epoch 50/100
23/23 - 0s - 3ms/step - loss: 110.2841 - val_loss: 144.0582
Epoch 51/100
23/23 - 0s - 3ms/step - loss: 108.7217 - val_loss: 144.6110
Epoch 52/100
23/23 - 0s - 4ms/step - loss: 106.3679 - val_loss: 140.9790
Epoch 53/100
23/23 - 0s - 3ms/step - loss: 104.3005 - val_loss: 139.6238
Epoch 54/100
23/23 - 0s - 7ms/step - loss: 101.9831 - val_loss: 140.4929
Epoch 55/100
23/23 - 0s - 3ms/step - loss: 99.7757 - val_loss: 138.0283
Epoch 56/100
23/23 - 0s - 3ms/step - loss: 96.9997 - val_loss: 138.6076
Epoch 57/100
23/23 - 0s - 3ms/step - loss: 94.4092 - val_loss: 138.3616
Epoch 58/100
23/23 - 0s - 5ms/step - loss: 92.0202 - val_loss: 135.1422
Epoch 59/100
23/23 - 0s - 10ms/step - loss: 89.5160 - val_loss: 133.9230
Epoch 60/100
23/23 - 0s - 11ms/step - loss: 86.3332 - val_loss: 132.7267
Epoch 61/100
23/23 - 0s - 16ms/step - loss: 83.7564 - val_loss: 133.1445
Epoch 62/100
23/23 - 0s - 16ms/step - loss: 81.5215 - val_loss: 125.2089
Epoch 63/100
23/23 - 0s - 18ms/step - loss: 78.4160 - val_loss: 129.5082
Epoch 64/100
23/23 - 0s - 14ms/step - loss: 75.5706 - val_loss: 125.6786
Epoch 65/100
23/23 - 0s - 12ms/step - loss: 73.3457 - val_loss: 123.8821
Epoch 66/100
23/23 - 0s - 10ms/step - loss: 70.5696 - val_loss: 120.3511
Epoch 67/100
23/23 - 0s - 8ms/step - loss: 68.3482 - val_loss: 118.9609
Epoch 68/100
23/23 - 0s - 8ms/step - loss: 66.1706 - val_loss: 119.7611
Epoch 69/100
23/23 - 0s - 11ms/step - loss: 63.7863 - val_loss: 111.2145
Epoch 70/100
23/23 - 0s - 12ms/step - loss: 61.9414 - val_loss: 116.8134
Epoch 71/100
23/23 - 0s - 8ms/step - loss: 59.4938 - val_loss: 114.7498
Epoch 72/100
23/23 - 0s - 10ms/step - loss: 57.9644 - val_loss: 106.2139
Epoch 73/100
23/23 - 0s - 8ms/step - loss: 56.7183 - val_loss: 111.7541
Epoch 74/100
23/23 - 0s - 10ms/step - loss: 55.4312 - val_loss: 113.3135
Epoch 75/100
23/23 - 0s - 9ms/step - loss: 53.4463 - val_loss: 108.5535
Epoch 76/100
23/23 - 0s - 16ms/step - loss: 52.3589 - val_loss: 109.1528
Epoch 77/100
23/23 - 0s - 9ms/step - loss: 51.0028 - val_loss: 112.5149
Epoch 78/100
23/23 - 0s - 12ms/step - loss: 49.8541 - val_loss: 108.8251
Epoch 79/100
23/23 - 0s - 12ms/step - loss: 48.8187 - val_loss: 110.2383
Epoch 80/100
23/23 - 0s - 8ms/step - loss: 47.6625 - val_loss: 108.0453
Epoch 81/100
23/23 - 0s - 9ms/step - loss: 47.2355 - val_loss: 103.8312
Epoch 82/100
23/23 - 0s - 17ms/step - loss: 45.7756 - val_loss: 108.8835
Epoch 83/100
23/23 - 0s - 10ms/step - loss: 45.1558 - val_loss: 108.3233
Epoch 84/100
23/23 - 0s - 11ms/step - loss: 44.2545 - val_loss: 113.8029
Epoch 85/100
23/23 - 0s - 17ms/step - loss: 43.3731 - val_loss: 106.4428
Epoch 86/100
23/23 - 0s - 11ms/step - loss: 42.4627 - val_loss: 115.7064
Epoch 87/100
23/23 - 0s - 9ms/step - loss: 41.7994 - val_loss: 104.8235
Epoch 88/100
23/23 - 0s - 7ms/step - loss: 41.4860 - val_loss: 117.8223
Epoch 89/100
23/23 - 0s - 9ms/step - loss: 40.6638 - val_loss: 111.8545
Epoch 90/100
23/23 - 0s - 8ms/step - loss: 40.1573 - val_loss: 120.4438
Epoch 91/100
23/23 - 0s - 9ms/step - loss: 39.5978 - val_loss: 122.0883
Epoch 92/100
23/23 - 0s - 17ms/step - loss: 38.9095 - val_loss: 116.4369
Epoch 93/100
23/23 - 0s - 10ms/step - loss: 38.6525 - val_loss: 109.9960
Epoch 94/100
23/23 - 0s - 15ms/step - loss: 38.0626 - val_loss: 124.0395
Epoch 95/100
23/23 - 0s - 8ms/step - loss: 37.3312 - val_loss: 117.2942
Epoch 96/100
23/23 - 0s - 7ms/step - loss: 36.8259 - val_loss: 119.7949
Epoch 97/100
23/23 - 0s - 10ms/step - loss: 36.6804 - val_loss: 116.0850
Epoch 98/100
23/23 - 0s - 9ms/step - loss: 36.0664 - val_loss: 122.3857
Epoch 99/100
23/23 - 0s - 8ms/step - loss: 36.0647 - val_loss: 129.9149
Epoch 100/100
23/23 - 0s - 9ms/step - loss: 35.5167 - val_loss: 120.9123