In [1]:
import pandas as pd
import numpy as np
import keras

In [2]:
filepath='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv'
concrete_data = pd.read_csv(filepath)

concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.isna().any()

Cement                False
Blast Furnace Slag    False
Fly Ash               False
Water                 False
Superplasticizer      False
Coarse Aggregate      False
Fine Aggregate        False
Age                   False
Strength              False
dtype: bool

In [5]:
predictors = concrete_data[concrete_data.columns[concrete_data.columns!='Strength']]
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [6]:
target = concrete_data['Strength']
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [7]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
n_cols = predictors_norm.shape[1]
n_cols

8

### Fit a regression model with Keras

In [9]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Input

In [10]:
# build a neural network
def regression_model():
    model = Sequential()
    model.add(Input(shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))

    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
# build the model
model = regression_model()

In [12]:
# fit the model
model.fit(predictors_norm, target, validation_split=.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - 43ms/step - loss: 1691.6886 - val_loss: 1180.5454
Epoch 2/100
23/23 - 0s - 6ms/step - loss: 1573.3835 - val_loss: 1080.7477
Epoch 3/100
23/23 - 0s - 8ms/step - loss: 1383.6455 - val_loss: 918.2798
Epoch 4/100
23/23 - 0s - 8ms/step - loss: 1077.0640 - val_loss: 694.2640
Epoch 5/100
23/23 - 0s - 9ms/step - loss: 706.0777 - val_loss: 453.2720
Epoch 6/100
23/23 - 0s - 7ms/step - loss: 402.9286 - val_loss: 289.2957
Epoch 7/100
23/23 - 0s - 8ms/step - loss: 273.2193 - val_loss: 220.0605
Epoch 8/100
23/23 - 0s - 11ms/step - loss: 242.3450 - val_loss: 198.1284
Epoch 9/100
23/23 - 0s - 6ms/step - loss: 224.3759 - val_loss: 188.7379
Epoch 10/100
23/23 - 0s - 7ms/step - loss: 210.7781 - val_loss: 186.7758
Epoch 11/100
23/23 - 0s - 6ms/step - loss: 201.5567 - val_loss: 181.0369
Epoch 12/100
23/23 - 0s - 6ms/step - loss: 193.6256 - val_loss: 178.7735
Epoch 13/100
23/23 - 0s - 6ms/step - loss: 187.1057 - val_loss: 172.6395
Epoch 14/100
23/23 - 0s - 5ms/step - loss: 181.7565 - val_loss: 171.2038
Epoch 15/100
23/23 - 0s - 5ms/step - loss: 176.7682 - val_loss: 166.8040
Epoch 16/100
23/23 - 0s - 5ms/step - loss: 172.4327 - val_loss: 164.3444
Epoch 17/100
23/23 - 0s - 5ms/step - loss: 168.7579 - val_loss: 163.3589
Epoch 18/100
23/23 - 0s - 7ms/step - loss: 165.1006 - val_loss: 162.1589
Epoch 19/100
23/23 - 0s - 7ms/step - loss: 162.2447 - val_loss: 158.9780
Epoch 20/100
23/23 - 0s - 7ms/step - loss: 159.4446 - val_loss: 158.2472
Epoch 21/100
23/23 - 0s - 10ms/step - loss: 156.7908 - val_loss: 157.8649
Epoch 22/100
23/23 - 0s - 8ms/step - loss: 154.4517 - val_loss: 155.8134
Epoch 23/100
23/23 - 0s - 17ms/step - loss: 151.6384 - val_loss: 154.5199
Epoch 24/100
23/23 - 0s - 6ms/step - loss: 150.1449 - val_loss: 153.3694
Epoch 25/100
23/23 - 0s - 7ms/step - loss: 147.8331 - val_loss: 153.9818
Epoch 26/100
23/23 - 0s - 6ms/step - loss: 145.8163 - val_loss: 153.1702
Epoch 27/100
23/23 - 0s - 4ms/step - loss: 144.2472 - val_loss: 155.5700
Epoch 28/100
23/23 - 0s - 6ms/step - loss: 142.6621 - val_loss: 150.8211
Epoch 29/100
23/23 - 0s - 6ms/step - loss: 140.3514 - val_loss: 153.5131
Epoch 30/100
23/23 - 0s - 8ms/step - loss: 139.1007 - val_loss: 153.7800
Epoch 31/100
23/23 - 0s - 6ms/step - loss: 137.7382 - val_loss: 155.2503
Epoch 32/100
23/23 - 0s - 9ms/step - loss: 136.6405 - val_loss: 151.9062
Epoch 33/100
23/23 - 0s - 7ms/step - loss: 135.0411 - val_loss: 154.9075
Epoch 34/100
23/23 - 0s - 7ms/step - loss: 133.5192 - val_loss: 151.2019
Epoch 35/100
23/23 - 0s - 8ms/step - loss: 132.3064 - val_loss: 151.9440
Epoch 36/100
23/23 - 0s - 7ms/step - loss: 131.1397 - val_loss: 153.0357
Epoch 37/100
23/23 - 0s - 6ms/step - loss: 129.6818 - val_loss: 156.2767
Epoch 38/100
23/23 - 0s - 6ms/step - loss: 129.2249 - val_loss: 154.8699
Epoch 39/100
23/23 - 0s - 6ms/step - loss: 127.6455 - val_loss: 153.2345
Epoch 40/100
23/23 - 0s - 6ms/step - loss: 126.6699 - val_loss: 156.6735
Epoch 41/100
23/23 - 0s - 6ms/step - loss: 125.2726 - val_loss: 154.6903
Epoch 42/100
23/23 - 0s - 6ms/step - loss: 124.1874 - val_loss: 154.1022
Epoch 43/100
23/23 - 0s - 7ms/step - loss: 123.0400 - val_loss: 155.0041
Epoch 44/100
23/23 - 0s - 6ms/step - loss: 122.1917 - val_loss: 153.7501
Epoch 45/100
23/23 - 0s - 6ms/step - loss: 120.7006 - val_loss: 156.4732
Epoch 46/100
23/23 - 0s - 6ms/step - loss: 119.7720 - val_loss: 153.5850
Epoch 47/100
23/23 - 0s - 7ms/step - loss: 118.4028 - val_loss: 152.2326
Epoch 48/100
23/23 - 0s - 7ms/step - loss: 117.1408 - val_loss: 153.5238
Epoch 49/100
23/23 - 0s - 8ms/step - loss: 115.8846 - val_loss: 150.6073
Epoch 50/100
23/23 - 0s - 6ms/step - loss: 114.4666 - val_loss: 150.5525
Epoch 51/100
23/23 - 0s - 5ms/step - loss: 112.8589 - val_loss: 148.5229
Epoch 52/100
23/23 - 0s - 6ms/step - loss: 110.8687 - val_loss: 145.1251
Epoch 53/100
23/23 - 0s - 5ms/step - loss: 108.6105 - val_loss: 145.8959
Epoch 54/100
23/23 - 0s - 5ms/step - loss: 106.3664 - val_loss: 142.7141
Epoch 55/100
23/23 - 0s - 5ms/step - loss: 103.9700 - val_loss: 144.1573
Epoch 56/100
23/23 - 0s - 5ms/step - loss: 101.5688 - val_loss: 142.7082
Epoch 57/100
23/23 - 0s - 5ms/step - loss: 98.8021 - val_loss: 140.1075
Epoch 58/100
23/23 - 0s - 5ms/step - loss: 95.1601 - val_loss: 137.3010
Epoch 59/100
23/23 - 0s - 7ms/step - loss: 91.7023 - val_loss: 140.6445
Epoch 60/100
23/23 - 0s - 6ms/step - loss: 87.9832 - val_loss: 135.3610
Epoch 61/100
23/23 - 0s - 7ms/step - loss: 84.5354 - val_loss: 136.7311
Epoch 62/100
23/23 - 0s - 7ms/step - loss: 81.0674 - val_loss: 131.6385
Epoch 63/100
23/23 - 0s - 7ms/step - loss: 78.5438 - val_loss: 134.4818
Epoch 64/100
23/23 - 0s - 6ms/step - loss: 74.7134 - val_loss: 129.8193
Epoch 65/100
23/23 - 0s - 7ms/step - loss: 71.8681 - val_loss: 125.9618
Epoch 66/100
23/23 - 0s - 7ms/step - loss: 70.5844 - val_loss: 129.5440
Epoch 67/100
23/23 - 0s - 7ms/step - loss: 66.3370 - val_loss: 123.4961
Epoch 68/100
23/23 - 0s - 6ms/step - loss: 64.3273 - val_loss: 125.9459
Epoch 69/100
23/23 - 0s - 7ms/step - loss: 62.8136 - val_loss: 120.3132
Epoch 70/100
23/23 - 0s - 6ms/step - loss: 60.0774 - val_loss: 123.3237
Epoch 71/100
23/23 - 0s - 6ms/step - loss: 58.7941 - val_loss: 117.2356
Epoch 72/100
23/23 - 0s - 7ms/step - loss: 56.7334 - val_loss: 115.0986
Epoch 73/100
23/23 - 0s - 7ms/step - loss: 54.7728 - val_loss: 119.0780
Epoch 74/100
23/23 - 0s - 6ms/step - loss: 53.0785 - val_loss: 112.3682
Epoch 75/100
23/23 - 0s - 6ms/step - loss: 52.4227 - val_loss: 120.0114
Epoch 76/100
23/23 - 0s - 6ms/step - loss: 50.7851 - val_loss: 113.6028
Epoch 77/100
23/23 - 0s - 7ms/step - loss: 49.1525 - val_loss: 113.2236
Epoch 78/100
23/23 - 0s - 8ms/step - loss: 49.1944 - val_loss: 119.6446
Epoch 79/100
23/23 - 0s - 6ms/step - loss: 47.9777 - val_loss: 114.5374
Epoch 80/100
23/23 - 0s - 6ms/step - loss: 47.0780 - val_loss: 113.8116
Epoch 81/100
23/23 - 0s - 6ms/step - loss: 46.1613 - val_loss: 111.3745
Epoch 82/100
23/23 - 0s - 6ms/step - loss: 45.4585 - val_loss: 120.3068
Epoch 83/100
23/23 - 0s - 6ms/step - loss: 44.6363 - val_loss: 114.3475
Epoch 84/100
23/23 - 0s - 6ms/step - loss: 43.7053 - val_loss: 114.1315
Epoch 85/100
23/23 - 0s - 6ms/step - loss: 43.9408 - val_loss: 112.1663
Epoch 86/100
23/23 - 0s - 7ms/step - loss: 42.0867 - val_loss: 116.2511
Epoch 87/100
23/23 - 0s - 7ms/step - loss: 41.5970 - val_loss: 113.7243
Epoch 88/100
23/23 - 0s - 16ms/step - loss: 41.0088 - val_loss: 118.7555
Epoch 89/100
23/23 - 0s - 7ms/step - loss: 41.3639 - val_loss: 112.5820
Epoch 90/100
23/23 - 0s - 6ms/step - loss: 39.9095 - val_loss: 110.4296
Epoch 91/100
23/23 - 0s - 6ms/step - loss: 39.3166 - val_loss: 113.2411
Epoch 92/100
23/23 - 0s - 6ms/step - loss: 38.9875 - val_loss: 123.6177
Epoch 93/100
23/23 - 0s - 7ms/step - loss: 38.4082 - val_loss: 118.1951
Epoch 94/100
23/23 - 0s - 6ms/step - loss: 37.9087 - val_loss: 118.9572
Epoch 95/100
23/23 - 0s - 7ms/step - loss: 37.3438 - val_loss: 116.6507
Epoch 96/100
23/23 - 0s - 6ms/step - loss: 36.9547 - val_loss: 112.4399
Epoch 97/100
23/23 - 0s - 7ms/step - loss: 36.5819 - val_loss: 115.0767
Epoch 98/100
23/23 - 0s - 5ms/step - loss: 36.2567 - val_loss: 116.9365
Epoch 99/100
23/23 - 0s - 6ms/step - loss: 36.4723 - val_loss: 126.6131
Epoch 100/100
23/23 - 0s - 7ms/step - loss: 35.9043 - val_loss: 116.2870